<h1>New Post Upload</h1>
<%= form_tag(posts_path, method: "post") do %>
    Image : <%= text_field_tag :image_url %><br>
    Story : <%= text_field_tag :story %><br>
    <%= submit_tag("Upload") %>
<% end %>